*{

    margin: 0;
    padding: 0;



}
h1{
    color: rgb(133, 103, 68);

}
img{
    width: 200px;






}
.instagram{
    color: rgb(158, 151, 202);
}
.food{
    background-color: rgb(142, 218, 20);
}
#sample{
     background-color: rgb(111, 121, 165);
     border: 5px red dashed
    
}
.first{
    border-style: dotted;
    margin: 10px 15px;
    padding: 30px;
}
/* My flexbox properties */
.container{
    background-color: rgb(66, 194, 115);

}
.childContainer{
    background-color: rgb(158, 235, 209);
    display: flex;
    flex-direction: row;
     justify-content: space-between;
}