*{
    background-color:rgb(191, 180, 206);



}
h1{
    color: rgb(133, 103, 68);

}
img{
    width: 200px;






}
.instagram{
    color: rgb(158, 151, 202);
}
.food{
    background-color: rgb(142, 218, 20);
}
